In [1]:
string_variable = "Hello, world!"

In [2]:
l=[1,2,3,4]

In [3]:
f=2.14

In [5]:
t=(1,2,30)

In [6]:
# Q2. The data types of the given variables are:

# (i) var1: string
# (ii) var2: string
# (iii) var3: list
# (iv) var4: float

In [8]:
# Q3:
#     i) / (Division): The division operator performs division between two operands and returns the quotient as a floating-point number.
#     (ii) % (Modulo): The modulo operator calculates the remainder of division between two operands.
#     (iii)// (Floor Division): The floor division operator performs division between two operands and returns the quotient as an integer, discarding the fractional part.
#     (iv) ** (Exponentiation): The exponentiation operator raises the left operand to the power of the right operand.

In [10]:
l=[1,2,3,4,5,6,7,'atul','krishna','nidhi']
for i in l:
  print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
atul <class 'str'>
krishna <class 'str'>
nidhi <class 'str'>

In [12]:
A = 99
B = 3
count = 0

while A % B == 0:
    A = A // B
    count += 1

print(count)

2

In [17]:
my_list = list(range(1, 26))

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [19]:
# mutable are those object which can be changed
# imutable are those which canot be changed for eg
l1=[1,2,3,4]
l2=(1,2,3)
l1.append(5)
print(l1)
print(l2)

# but we cant perform append in tupple
# for string

str1 = "Hello"
str2 = str1

str1 += " World"  

print(str1) 
print(str2)

[1, 2, 3, 4, 5]
(1, 2, 3)